[data-recaptcha] {
  & > * {
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
  }

  iframe {
    display: block;
    transform-origin: top left;

    html.edge[dir="rtl"] &,
    html.ie[dir="rtl"] & {
      transform-origin: top right;
    }
  }
}
