//_____________________________________________________
//                                  CONVERT MAP TO LIST
@function to-list($value, $keep: 'both') {
  $keep: if(index('keys' 'values', $keep), $keep, 'both');

  @if type-of($value) == 'map' {
    $keys: ();
    $values: ();

    @each $key, $val in $value {
      $keys: append($keys, $key);
      $values: append($values, $val);
    }

    @if $keep == 'keys' {
      @return $keys;
    } @else if $keep == 'values' {
      @return $values;
    } @else {
      @return zip($keys, $values);
    }
  }

  @return if(type-of($value) != 'list', ($value,), $value);
}



//_____________________________________________________
//                              CONVERT PIXELS TO UNITS
@function px2unit($unit, $pixels, $context) {
  @if $unit {
    @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
      $context: $context * 1px;
    }

    @return $pixels / $context * 1#{$unit};
  }
}

@function em($pixels, $context) {
  @return px2unit('em', $pixels, $context);
}

@function rem($pixels, $context: $font-size-rem) {
  @return px2unit('rem', $pixels, $context);
}
