html {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: $font-size-rem;

  // Fix modernizr bug
  &.safari {
    background: none;
  }
}

body {
  margin: 0;
  font-size: $font-size-default;

  &.freeze {
    height: 100%;
    overflow: hidden !important;

    html.ios & {
      position: fixed;
      width: 100%;
    }

    &[class*="--scroll-"] {
      border-right-style: solid;
      border-right-color: $color-white-1;
    }

    @for $i from 13 through 18 {
      &.\--scroll-#{$i} {
        border-right-width: $i * 1px;
      }
    }
  }
}

main {
  padding-bottom: 60px;
}

img {
  max-width: 100%;

  &:not([src]),
  &[src=""] {
    display: none;
  }
}
