html {
  font-size: $font-size-rem;

  // Fix modernizr bug
  &.safari {
    background: none;
  }
}

body {
  margin: 0;
  font-size: $font-size-default;

  &.freeze {
    height: 100%;
    overflow: hidden !important;

    html.ios & {
      position: fixed;
      width: 100%;
    }
  }
}
