.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__wrapper {
    background-color: $color-black-1;
    color: $color-white-1;
    padding: 2rem;
  }

  p {
    margin: 0;
  }
}
