.hero {
  margin-top: 1rem;

  &:not(.slick-initialized) {
    white-space: nowrap;
    overflow: hidden;
  }

  &__item {
    position: relative;

    .hero:not(.slick-initialized) & {
      display: inline-block;
      width: 100%;
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 40%;
    left: 40%;
    max-width: 550px;
    color: $color-white-1;
    font-weight: bold;
    font-size: 3em;
    transform: translate3d(-50%, -50%, 0);

    &.\--right {
      left: auto;
      right: 40%;
      text-align: right;
      transform: translate3d(50%, -50%, 0);
    }

    &.\--black {
      color: $color-black-1;
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate3d(-50%, 0, 0);

    li {
      color: $color-white-1;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &.slick-active {
        color: $color-gray-2;
      }
    }

    button {
      display: block;
      appearance: none;
      @include size(40, 3);
      padding: 0;
      border: 0;
      border-radius: 2px;
      color: inherit;
      background: currentColor;
      font-size: 0;
      box-shadow: 0 0 10px rgba(black, .6);
      cursor: pointer;
    }
  }
}
