extends ../_layouts/layout

block append vars
  - title = 'ReCaptcha'
  - menuIndex = 4

block container
  .container
    form(method="post" data-form-validation)
      input(name="text" required)
      +component-recaptcha({
        theme: 'dark',
        size: 'compact'
      })(data-parsley-required-message="Must validate")
      button(type="submit") Submit
