doctype html
html.no-js
  head
    title=title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content=[
      'width=device-width',
      'initial-scale=1',
      'shrink-to-fit=no'
    ].join(','))
    link(rel="stylesheet" href="../css/main.css")

  body
    h1 Hello world 2
    img(src="../images/hero/tech3.jpeg")
    p=$translator.a

    script(src="../js/main.js" defer)
