extends _layouts/layout

block append vars
  - title = $translator.home ? $translator.home.title : 'Homepage'

block container
  .container
    +hero([
      {
        title: 'Welcome to<br>the web boilerplate',
        pics: {
          'default': '/images/hero/tech1.jpeg',
          991: '/images/hero/tech-m-1.jpeg',
        }
      }, {
        title: 'This is<br>Hero component example',
        isRight: true,
        pics: {
          'default': '/images/hero/tech2.jpeg',
          991: '/images/hero/tech-m-2.jpeg',
        }
      }, {
        title: 'Why do you swipe to third slide??',
        isBlack: true,
        pics: {
          'default': '/images/hero/tech3.jpeg',
          991: '/images/hero/tech-m-3.jpeg',
        }
      }
    ])
