extends _layouts/layout

//- block append vars
//-   - title = $translator.home ? $translator.home.title : 'Homepage'
//-   - menuIndex = 0

//- block container
//-   p Hello
  //- .container
  //-   .block
  //-     p(data-plugin) TODO
