include ../_mixins/all

- const isRTL = translate.isRTL
- const dir = isRTL ? 'rtl' : 'ltr'
- const rtlSuffix = isRTL ? '-rtl' : ''

block vars
  - let isTemplate = false
  - let title = 'Template'
  - let namespace = ''
  - let keywords = ''
  - let menuIndex = 0

doctype html
html.no-js(lang=$localeName dir=dir)
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content=[
      'width=device-width',
      'initial-scale=1',
      'shrink-to-fit=no'
    ].join(','))

    //- Start: Seo
    title=title
    meta(name="robots" content="index, follow")
    //- End: Seo

    include ../_blocks/site-icon
    include ../_blocks/meta-keys
    include ../_blocks/styles

    block styles

  body(class=namespace)
    if !isTemplate
      include ../_blocks/header
    main(role="main")
      block container

    if !isTemplate
      include ../_blocks/footer

    //- Start: Scripts
    include ../_blocks/polyfill
    include ../_blocks/script
    block scripts
    //- End: Scripts

    noscript JavaScript is off. Please enable to view full site.
