header.header
  .container
    .header__wrapper
      +link('index.html', 'Logo').header__logo
        +img('images/logo.jpg', 'Logo')
      +nav([
        { title: 'Home', href: 'index.html' },
        { title: 'Gmap', href: 'components/gmap.html' }
      ]).header__nav
