header.header
  .container
    +link('Logo', 'index.html').logo
    nav
      +nav([
        { title: 'Home', href: `/index.html` },
        { title: 'Style Guide', href: `/template-style-guide.html` },
        { title: 'Sitemap', href: `/sitemap.html` },
        { title: 'Google Map', href: `/components/gmap.html` },
        { title: 'ReCaptcha', href: `/components/recaptcha.html` }
      ])
