script#polyfill-script.
  if (/msie\s|trident\/|edge\//i.test(navigator.userAgent)) {
    var script = document.createElement('script');

    script.src = '/js/polyfill.js';

    document
      .getElementById('polyfill-script')
      .insertAdjacentElement('afterend', script);
  }
