//_____________________________________________________
//                                            FONT FACE
@mixin font-face($name, $pathNotIncludeExt, $weight: normal, $style: normal) {
  @font-face {
    font: {
      family: $name;
      weight: $weight;
      style: $style;
    }
    src: url($pathNotIncludeExt + ".eot"); // gte IE9
    src: local("☺︎") // Hack HTTP Request for IE
      ,  url($pathNotIncludeExt + ".eot?#iefix") format("embedded-opentype") // lt IE9
      ,  url($pathNotIncludeExt + ".woff") format("woff"); // Modern
  }
}



//_____________________________________________________
//                                            SMOOTHING
@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



//_____________________________________________________
//                                             ELLIPSIS
@mixin text-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



//_____________________________________________________
//                                                RESET
@mixin reset($level: 1) {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  @if $level == all {
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
      style: inherit;
    }
    line-height: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
}



//_____________________________________________________
//                                             CLEARFIX
@mixin clearfix {
  &:after, &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}



//_____________________________________________________
//                                          MEDIA QUERY
@mixin mq($width, $type: min) {
  @if map_has_key($screen, $width) {
    $width: screen($width);
  }

  @if $type == max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}
