//_____________________________________________________
//                                            FONT FACE
@mixin font-face($name, $pathNotIncludeExt, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url("#{$pathNotIncludeExt}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}



//_____________________________________________________
//                                            SMOOTHING
@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



//_____________________________________________________
//                                          MEDIA QUERY
@mixin mq($width, $type: min) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: screen($width);
  }

  @if $type == max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}
