//___________________________________
//                               FONT
$font-family-sans-serif: Verdana, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-fa-icon: "icons";


//___________________________________
//                              COLOR
$color-white-1: #fff;
$color-black-1: #000;


//___________________________________
//                        BREAK POINT
$screen: (
  xs: 320px,
  sm: 576px,
  sd: 768px,
  md: 992px,
  lg: 1200px
);


//___________________________________
//                     DEFAULT VALUES
$default-font           : $font-family-sans-serif;
$default-font-size      : 14px;
$default-line-height    : 1.3;
$default-bg-color       : $color-white-1;
$default-color          : $color-black-1;
