extends _layouts/layout-full

block append vars
  - title = 'Index'

block append styles
  link(rel="stylesheet" href=`/css/index${rtlSuffix}.css`)

block append container
  h1=translate.home.title
  p This page using #{$localeName} language
  div(data-template-plugin="test" data-template-plugin-map={a: 1})
