extends _layouts/layout-full

block append vars
  - title = 'ReCaptcha'

block append container
  form(method="post" data-form-validation)
    input(name="text" required)
    +component-recaptcha({
      theme: 'dark',
      size: 'compact'
    })(data-parsley-required-message="Must validate")
    button(type="submit") Submit
